<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>356108325320-flhvpmnvv68ln3oou5kshtrds11iu2co.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.356108325320-flhvpmnvv68ln3oou5kshtrds11iu2co</string>
	<key>API_KEY</key>
	<string>AIzaSyAz9LorYQoINmJOoh163ykByYaW_9LyuxQ</string>
	<key>GCM_SENDER_ID</key>
	<string>356108325320</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.test.GrowUp</string>
	<key>PROJECT_ID</key>
	<string>growup-999a1</string>
	<key>STORAGE_BUCKET</key>
	<string>growup-999a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:356108325320:ios:04beee1da7f16be809f0fd</string>
</dict>
</plist>